<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-header card-header-icon card-header-primary">
            <div class="card-icon">
              <i class="fad fa-code-branch"></i>
            </div>
          </div>
          <div class="card-body">

              <%= form_with model: @branch, class: "form", url: "/decks/#{@master_deck.slug}/branch" do |f| %>
                <div class="form-group">
                  <label for="branched_from">Branch From</label>
                  <%= select("branched_from", "branched_from_id", options_from_collection_for_select(@current_branches, 'id', 'name', @branched_from_id),
                            { include_blank: false },
                              :class => "form-control selectpicker", :data_style => "btn btn-link" ) %>
                </div>
                <div class="form-group"></div>
                <div class="form-group">
                <%= f.label "Branch Name:", for: :name %>
                <%= f.text_field :name, class: "form-control" %>
                </div>
                <div class="form-group">
                <div class="togglebutton">
                  <label>
                    <%= f.check_box :is_public, checked: @master_deck.is_public? %>
                    <span class="toggle"></span>
                      <%= tag.span("Public Branch", class: "text-success label-on") %>
                      <%= tag.span("Private Branch", class: "text-warning label-off") %>
                  </label>
                </div>
                </div>
                <div class="form-group">
                <%= f.submit "Create" , class: "btn btn-primary" %>
              </div>
              <% end %>
              
              </div>
      </div>
  </div>

</div>