<% content_for :body_style do %>
product-page
<% end %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_with model: @master_deck, class: "form", url: "/decks" do |f| %>
  <%= f.text_field :name %>
  <div class="togglebutton">
    <label>
      <%= f.check_box :is_public, checked: current_user.user_profile.default_deck_visibility? %>
      <span class="toggle"></span>
        <%= current_user.user_profile.default_deck_visibility? ? 
                          tag.span("public", class: "text_success") : tag.span("private", class: "text_warning")
                          %>
    </label>
  </div>
  <%= f.text_area :description %>
  <%= f.submit "Create" %>
<% end %>