<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert"><%= value %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  
  </div>

<% end %>

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/u/<%= @master_deck.user.slug %>"><%= @master_deck.user.username %></a></li>
    <li class="breadcrumb-item active" aria-current="page">Deck Name</li>
  </ol>
</nav>
  
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container">
    
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= render 'master_decks/all' %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Edit Deck</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/decks/<%= @master_deck.slug %>/branch/new">Branch this Deck</a>
          </li>
          
        </ul>
      </div>

  </nav>
 
<div class="row">
  <div class="container">
    <div class="alert alert-info" role="alert">
      This is a default alert—check it out!
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
  <%= render 'master_decks/all' %>
  </div>
</div>
