<% content_for :body_style do %>
profile-page
<% end %>

<h3 class="title text-center"><%= @profile_user.username %> <% if @profile_user == current_user %><a href="/u/<%= current_user.slug %>/edit"><i class="fad fa-user-edit"></i></a><% end %></h3>

<div class="row">
  <div class="col-md-8">

    <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="fad fa-layer-group"></i>
            </div>
          </div>
          <div class="card-body">
              <h4 class="card-title">Decks</h4>
            <%= render partial: "master_decks/all_decks_table", locals: { master_decks: @profile_user.master_decks, user: @profile_user } %>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-testimonial">
        <div class="icon">
          <i class="material-icons">format_quote</i>
        </div>
        <div class="card-body">
          <h5 class="card-description">
            <%= PrettyMagic::ManaIcons.add_icons_to_text(@profile_user.user_profile.tagline).html_safe %>
          </h5>
        </div>
        <div class="card-footer">
          <h4 class="card-title"><%= @profile_user.username %></h4>
          <h6 class="card-category">
            <% if @profile_user.user_profile.facebook != "" && @profile_user.user_profile.facebook.nil? == false %>
              <a href="https://facebook.com/<%= @profile_user.user_profile.facebook %>" class="btn btn-social btn-just-icon btn-facebook"><i class="fab fa-facebook"></i></a>
            <% end %>
            <% if @profile_user.user_profile.twitter != "" && @profile_user.user_profile.twitter.nil? == false %>
              <a href="https://twitter.com/<%= @profile_user.user_profile.twitter %>" class="btn btn-social btn-just-icon btn-twitter"><i class="fab fa-twitter"></i></a>
            <% end %>
            <% if @profile_user.user_profile.github != "" && @profile_user.user_profile.github.nil? == false %>
              <a href="https://github.com/<%= @profile_user.user_profile.github %>" class="btn btn-social btn-just-icon btn-github"><i class="fab fa-github"></i></a>
            <% end %>
            
          </h6>
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="https://c1.scryfall.com/file/scryfall-cards/normal/front/6/9/696678ff-44dc-4fe4-bf17-024e86cd0220.jpg?1562787572" />
            </a>
          </div>
        </div>
      </div>
    </div>

</div>
          