<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Deck Brew" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Deck Brew" %>">
    <script src="https://kit.fontawesome.com/166cb37d41.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
    <link href="//cdn.jsdelivr.net/npm/mana-font@latest/css/mana.min.css" rel="stylesheet" type="text/css" />

    
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  
    <%= stylesheet_link_tag 'material-dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    
   
    
    
  </head>

  <body class="<%= yield(:body_style) %>">
    
    <%= render 'layouts/sidebar' %>
    <div class="main-panel">
      <%= render 'layouts/dashboard_navigation' %>

          
        
        <div class="content">
          <div class="content">
            <div class="container-fluid">
              <%= content_for?(:content) ? yield(:content) : yield %>
            </div>
          </div>
        </div>

       <%= render 'layouts/footer' %>
     </div>

    <%= javascript_include_tag 'core/jquery.min' %>
    <%= javascript_include_tag 'core/popper.min' %>
    
    <%= javascript_include_tag 'core/bootstrap-material-design.min' %>
    <%= javascript_include_tag 'plugins/perfect-scrollbar.jquery.min' %>
    <%= javascript_include_tag 'plugins/moment.min' %>
    <%= javascript_include_tag 'plugins/sweetalert2' %>
    
     <%= javascript_include_tag 'plugins/jquery.validate.min' %>
    <%= javascript_include_tag 'plugins/jquery.bootstrap-wizard' %>
    <%= javascript_include_tag 'plugins/bootstrap-selectpicker' %>
    <%= javascript_include_tag 'plugins/bootstrap-datetimepicker' %>
    <%= javascript_include_tag 'plugins/jquery.dataTables.min' %>
    <%= javascript_include_tag 'plugins/bootstrap-tagsinput' %>
    <%= javascript_include_tag 'plugins/jasny-bootstrap.min' %>
    <%= javascript_include_tag 'plugins/fullcalendar.min' %>
    <%= javascript_include_tag 'plugins/jquery-jvectormap' %>
    <%= javascript_include_tag 'plugins/nouislider.min' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <%= javascript_include_tag 'plugins/arrive.min' %>

    
   
    
    <script async defer src="https://buttons.github.io/buttons.js"></script>
        
    <%= javascript_include_tag 'plugins/chartist.min' %>
        
    <%= javascript_include_tag 'plugins/bootstrap-notify' %>
    
    <%= javascript_include_tag 'gitgraph' %>
    
    <%= javascript_include_tag 'material-dashboard' %>
    <%= javascript_include_tag 'deckbrew-app' %>

     <script>

       
        $(document).ready(function() {
          <% flash.each do |key, value| %>
            deckbrew.showNotification('top', 'right', '<%= key %>', '<%= value %>');
        <% end %>
       
        });
        
        <%= yield(:page_script) %>

    </script>
    
  </body>
</html>